/*  {
  border:1px red solid;
}*/

.navbar  {
  display: grid;
  grid-template-columns: 4fr repeat(5, 1fr);
  background: white;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px #F0F0F0 solid;
}

a.heeby  {
  text-decoration: none;
  color: white;
}

#logo  {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 900;
  padding: 8px;
  letter-spacing: 3px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .navbarr {
    display: none;
  }
}

.login  {
  background-color: #FF6961;
  border-radius: 10px;
  border: 2px solid;
  color: white;
}

a.navbarr1  {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-style: italic;
  padding-top: 8px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 24px;
  border-left: 3px solid white;
}

a.navbarr  {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-style: italic;
  padding-top: 11px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 24px;
  border-left: 3px solid white;
}

img  {
  display: block;
  width: 80%;
  margin: 20px auto;
}
