
.navbar  {
  display: grid;
  grid-template-columns: 6fr repeat(4, 1fr);
  background: white;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

a.heeby  {
  text-decoration: none;
  color: white;
}

#logo  {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 5px;
  letter-spacing: 2px;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #logo {
    display: none;
  }
  .navbarpretty  {
    grid-template-columns:6 repeat(4, 1fr);
  }
}

a.navbarr  {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: black;
  font-style: italic;
  padding-top: 11px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 20px;
  border-left: 3px solid white;
}
